#navbar ul{
    display: flex;
    justify-content: space-around;
    gap: 150px;
    }

    #navbar li {
        display: inline-block;
     margin-top: 20px;  
              }
header{
    display: flex;
    


}
#navbar{
    gap: 600px;
}
#nav-bar a{
    text-decoration: none;
    color:black}

    .loging{
        margin-left: 34%;
        width: 150px;
        background-color: skyblue;
        color: white;
        height: 40px;
        border-radius: 15px;
        gap: 30px;
        margin-top:18px ;
        margin-left: 120px;
       
        }
    .log{
        display: flex;
       
    }
    .girl{
        display: flex;
    }
    .word{
        text-align: center;
    }
    .sizing{
        font-size: 60px;
    }
   

    .content{
        background-color: aliceblue;
        padding:70px;
        
        
        
    }
    .input{
        display: flex;
        gap: 200px;
        border: 70px ;
        width: 500px;
        border-radius: 100px;
        border: solid ;
        padding: 10px;
    }
    .press2{
        width: 140px;
        height: 60px;
        border-radius: 70px;
        color:white;
        background-color: rgb(114,183,177);
    }
    .landing{
        display: flex;
        padding: 90px;
    }
        .footer{
            
            
            background-color: rgb(227,249,239 );
            height: 250px;
            padding: 20px;
            font-size: larger;
        }
        .imageall{
            display: flex;
            justify-content: space-between;
        }
        .done{
            width: 400px;
            height: 500px;
            border-radius: 50%;
            margin-left: 250px;
        
        }

        @media screen and (min-width:280px) and (max-width:650px){

            #navbar ul{
                display: grid;
                justify-content: space-around;
                gap: 30px;
                }
            
                #navbar li {
                    display: inline-block;
                 margin-top: 2px;  
                          }
            header{
            display: grid;
                
            
            
            }
            #navbar{
                gap: 6px;
            }
            #nav-bar a{
                text-decoration: none;
                color:black}
            
                .loging{
                    margin-left: 34px;
                    width: 59px;
                    background-color: skyblue;
                    color: white;
                    height: 50px;
                    border-radius: 35px;
                    gap: 30px;
                
                    
                   
                    }
                .log{
                    display: grid;
                   
                }
                .girl{
                    display: grid;
                }
                .word{
                    text-align: center;
                }
               
            
                .content{
                    background-color: aliceblue;
                    padding:30px;
                    margin-left: 30px;
                    
                    
                }
                .input{
                    display: grid;
                    gap: 20px;
                    border: 70px ;
                    width: 50px;
                    border-radius: 10px;
                    border: solid ;
                    padding: 10px;
                }
                .press2{
                    width: 70px;
                    height: 30px;
                    border-radius: 40px;
                    color:white;
                    background-color: rgb(114,183,177);
                }
                .landing{
                    display: grid;}
                    .footer{
                        
                        
                        background-color: rgb(227,249,239 );
                        height: 250px;
                        padding: 20px;
                        font-size: smaller;
                    }
                    .imageall{
                        display: grid;
                        justify-content: space-between;
                    }
                    .done{
                        width: 80px;
                        height: 70px;
                        border-radius: 50px;
                        margin-left: 15px;
                    
                    }   
                   


        }
